.edit__blur {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.edit__wrapper {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  right: 0;
  z-index: 6;
  background-color: #ffffff;
}

.edit {
  width: 506px;
  margin-right: 1px;
  padding: 12px 16px;
  border: 1px solid #999999;
  outline: none;
  font-size: 24px;
  color: #424242;
  box-shadow: inset 0 -1px 5px 0 rgb(0 0 0 / 20%);
}