.description {
  flex: 1 1 auto;
  word-break: break-all;
  padding: 15px 15px 15px 20px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.description_completed {
  text-decoration: line-through;
  color: #d9d9d9;
}