.button {
  border: none;
  background-color: transparent;
  padding: 3px 7px;
  border-radius: 3px;
  font-size: 14px;
  color: #777777;
  cursor: pointer;
}

.button_active {
  border: 1px solid #af2f2f33;
}